.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-title {
	display: flex;
	align-items: center;
	width: 50vw;
	margin: 0 0.25rem;
}

.header-menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50vw;
}

.header-menu-item {
	margin: 0 0.25rem;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.main-container-row {
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
}

.main-container-block {
}

.main-container-form {
}

.main-container-block-body {
	color: blue;
}
.main-container-block-head {
	font-size: 1rem;
	font-weight: bold;
}
